
body {background-color: grey;}

h1 {font-family: UBUNTU;} 

p {color: green; 
   border: 6px solid yellow;}

.diego {color: blue;
       border: 4px solid orange;}

#igor {font-family:ubuntu;
       font-size: 60px;
       border: 12px solid black;}

