
body {background-color: grey;}

h2 {color: green;} 
h1 {color: red;}

p {color: green; 
   border: 6px solid yellow;}

a {
	color: #cc33ff; /*Muda a cor do link*/
	text-decoration: none; /*Remove o sublinhado*/
}

a:hover { /*aplica quando passa o mouse por cima*/
	color: #ff6600; /*#muda a cor do link*/
	text-decoration: underline; /*poe o sublinhado*/
	font-size: 30px;


}