table {
border-collapse: collapse;
}
td, tr {
border: 4px solid #dddddd;
padding: 25px;
}
#azul{
background-color: blue
}
#cinza{
background-color: gray
}
#verde{
background-color: green
}
